@font-face {
	font-family: 'Isra-Regular';
	src:url('Isra-Regular.ttf'),
	url('Isra-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GE-SS-Two-Light';
	src:url('GE-SS-Two-Light.otf');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: GE-SS-Two-Light;
	color:$text-color;
	font-size:1.8em;
}
.title{
	font-family: Isra-Regular;
	font-size: 3em;
	color: $titles-color;
	letter-spacing: 0.05em;
}